body{
    background-color: rgb(221, 204, 204);
    font-size: 20px;
    color:rgb(33, 17, 77);
} 

.start{
    margin: 13px;
    padding: 10px 15px;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color: rgb(55, 14, 236);
    background-color: rgb(166, 225, 243);
    border: solid 10px rgb(34, 1, 94);
    
}

.start:hover{
    background-color: rgb(55, 14, 236);
    color:rgb(166, 225, 243);
    border:solid rgb(166, 225, 243) 10px;
    
}

.dropButton{
    background-color: rgb(221, 204, 204);
    font-weight: bold;
}

.dropButton:hover{
    background-color: rgb(112, 139, 150);
    color: rgb(171, 238, 105);
}

.game{
    margin:20px auto;
    border:solid black 3px;
    width: fit-content;
}

table{
    background-color: rgb(33, 17, 77);
}

td{
    height:50px
}

.hole{
    border-radius: 50%;
    border: solid 3px black;
    background-color: rgb(221, 204, 204);
}
.data{
    margin: 30px auto;
    min-width: 45%;
    text-align: center;

}

.score{
    width: 50%;
    padding: 10px;
    border: solid 10px rgb(34, 1, 94);
    text-align: center;
    display: inline-block;
}
#p1ScoreTotal{
    background-color: cyan;
    width:200px;
    display: inline-block;
    border: solid 5px rgb(34, 1, 94);

}

#p2ScoreTotal{
    background-color: purple;
    width:200px;
    display: inline-block;
    border: solid 5px rgb(34, 1, 94);

}
.player1{
    background-color: cyan;
}

.player2{
    background-color: purple;
}
.reset{
    display: inline-block;
    margin: 13px;
    padding: 10px 15px;
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color: rgb(55, 14, 236);
    background-color: rgb(166, 225, 243);
    border: solid 5px rgb(34, 1, 94);
}