body{
    background-color: rgb(178, 235, 178);
    color: rgb(8, 8, 131);
    height: 700px;
}
.section {
    width: 80%;
    height: 500px;
    margin: auto;
    padding: 10px;
}
.text {
    margin: 50px 3% auto 16%;
    text-align: center;
    width: 460px;
    height: 400px;
    float: left;
}
#sizeImg{
    margin-top: 100px;
    height: 400px;
    width: 400px;
}
.image {
    margin-top: 100px;
    height: 400px;
}